# 
# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
name: Images for GitHub and Docker

on:
  create:
    tags:
      - '*'

env:
  REGISTRY_PATH: ${{ github.workspace }}/registry
  CACHE_PATH: /tmp/.buildx-cache

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup env
        id: prep
        run: |
          REPO_TAG=$(sed -E 's/(.*\/)*([[:alnum:]].*)/\2/;t;d' <<< $GITHUB_REF)
          PACKAGE=$(sed -E 's/^(\w+)-(.*)/\1/;t;d' <<< $REPO_TAG)
          VERSION=$(sed -E 's/^(\w+)-(.*)/\2/;t;d' <<< $REPO_TAG)
          
          CONTAINER_REGISTRY=("ghcr.io/" "localhost:5000/" "docker.io/")
          TAGS=""
          APP_NAME=${{github.repository}}/${PACKAGE}

          for registry in "${CONTAINER_REGISTRY[@]}"
          do
            if [[ "${registry}"  == "docker.io/" ]] ; then
              APP_NAME=${{github.repository_owner}}/${PACKAGE}
            fi
            
            TAGS="$registry$APP_NAME:${VERSION},$TAGS"
          done

          echo ::set-output name=package::${PACKAGE}
          echo ::set-output name=version::${VERSION}
          echo ::set-output name=tags::${TAGS}
        shell: bash
      - 
        name: Checkout repository
        uses: actions/checkout@v2
      -
        name: Start Docker registry
        run: |
          docker run -d -p 5000:5000 -v ${REGISTRY_PATH}:/var/lib/registry --name registry registry:2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver-opts: network=host
      - 
        name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: ${{ env.CACHE_PATH }}
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - 
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_TOKEN }}
      - 
        name: Login to Docker Container Registry
        uses: docker/login-action@v1
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Build and Push Locally
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          tags: ${{ steps.prep.outputs.tags }}
          cache-from: |
            type=local,src=${{ env.CACHE_PATH }}
            ${{ steps.prep.outputs.tags}}
          cache-to: type=local,dest=${{ env.CACHE_PATH }}
          context: ./containers/${{ steps.prep.outputs.package }}/${{ steps.prep.outputs.version }}/
          file: ./containers/${{ steps.prep.outputs.package }}/${{ steps.prep.outputs.version }}/Dockerfile
          push: true
      - 
        name: Upload Docker registry data for testing
        uses: actions/upload-artifact@v2
        with:
          name: docker-registry-data
          path: ${{ env.REGISTRY_PATH }}/
      -
        name: Stop Docker registry
        run: docker stop registry
