name: Images for GitHub and Docker

on:
  create:
    tags:
      - '*'

env:
  OWNER: gabidavila
  REGISTRY_PATH: ${{ github.workspace }}/registry
  CACHE_PATH: /tmp/.buildx-cache

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup env
        id: prep
        run: |
          REPO_TAG=$(sed -E 's/(.*\/)*([[:alnum:]].*)/\2/;t;d' <<< $GITHUB_REF)
          PACKAGE=$(sed -E 's/^(\w+)-(.*)/\1/;t;d' <<< $REPO_TAG)
          VERSION=$(sed -E 's/^(\w+)-(.*)/\2/;t;d' <<< $REPO_TAG)
          GITHUB_URL_PACKAGE=docker.pkg.github.com
          APP_NAME=${{env.OWNER}}/${PACKAGE}
          GH_NAME=${GITHUB_URL_PACKAGE}/${{env.OWNER}}/livestream/${PACKAGE}
          TAGS=${APP_NAME}:${VERSION}
          TAGS_GH=${GH_NAME}:${VERSION}
          echo ::set-output name=package::${PACKAGE}
          echo ::set-output name=version::${VERSION}
          echo ::set-output name=tags::${TAGS}
          echo ::set-output name=tags::${TAGS_GH}
        shell: bash
      - 
        name: Checkout repository
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Start Docker registry
        run: |
          docker run -d -p 5000:5000 -v ${REGISTRY_PATH}:/var/lib/registry --name registry registry:2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver-opts: network=host
      - 
        name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: ${{ env.CACHE_PATH }}
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      -
      #   name: Login to DockerHub
      #   uses: docker/login-action@v1 
      #   with:
      #       username: ${{ env.OWNER }}
      #       password: ${{ secrets.DOCKER_PASSWORD }}
      # -
        name: Build and Push Locally
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          # tags: ${{ steps.prep.outputs.TAGS }}
          # tags: ${{ steps.prep.outputs.TAGS }},${{steps.prep.outputs.TAGS_GH}}
          tags: localhost:5000/${{env.OWNER}}/livestream/${{ steps.prep.outputs.package }}:${{ steps.prep.outputs.version }}
          cache-from: |
            type=local,src=${{ env.CACHE_PATH }}
            ghcr.io/${{ env.OWNER }}/livestream/${{ steps.prep.outputs.package }}-${{ steps.prep.outputs.version }}
          context: ./containers/${{ steps.prep.outputs.package }}/${{ steps.prep.outputs.version }}/
          file: ./containers/${{ steps.prep.outputs.package }}/${{ steps.prep.outputs.version }}/Dockerfile
          push: true
      -
        name: Stop Docker registry
        run: docker stop registry
      - 
        name: Upload Docker registry data for testing
        uses: actions/upload-artifact@v2
        with:
          name: docker-registry-data
          path: ${{ env.REGISTRY_PATH }}/
